@model Olo42.SAROM.WebApp.Models.MissingPerson

@{
  ViewData["Title"] = "UploadDocument";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Localizer["Bild hinzufügen"]</h3>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="UploadDocument" enctype="multipart/form-data">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>


      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" name="formFile" class="custom-file-input" id="inputGroupFile01">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
        <div class="input-group-append">
          <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload" />
        </div>
      </div>



      @*<dl>
          <dt>
            <label>Upload</label>
          </dt>
          <dd>
            <div class="form-group">
              <input name="formFile" id="formFile" type="file">
            </div>
          </dd>
        </dl>
        <div class="form-group">
          <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload" />
        </div>*@
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  <script type="text/javascript">

    $('.custom-file input').change(function (e) {
      $(this).next('.custom-file-label').html(e.target.files[0].name);
    });

  </script>
}

