@{
  ViewData["Title"] = "Search and Rescue Operation Management";
}

<div class="text-center">
  <h1 class="display-4">@Localizer["Willkommen!"]</h1>
  <p>SAROM - Search and Rescue Operation Manager</p>
  <img src="~/img/LogoODRZ.png" width="350" style="padding-top: 20px;" />
</div>