@model Olo42.SAROM.WebApp.Models.UserViewModel

@{
    ViewData["Title"] = @Localizer["Benutzer anlegen"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Localizer["Benutzer anlegen"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginName" class="control-label"></label>
                <input asp-for="LoginName" class="form-control" />
                <span asp-validation-for="LoginName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerifyPassword" class="control-label"></label>
                <input asp-for="VerifyPassword" class="form-control" />
                <span asp-validation-for="VerifyPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Speichern"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
  <a asp-action="Index">@Localizer["Zurück"]</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
