@model SAROM.Models.MissingPerson

@{
    ViewData["Title"] = "UploadDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UploadDocument</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
      <form asp-action="UploadDocument" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dl>
          <dt>
            <label>Upload</label>
          </dt>
          <dd>
            <div class="form-group">
              <input name="formFile" id="formFile" type="file">
            </div>
          </dd>
        </dl>
        <div class="form-group">
          <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload" />
        </div>
      </form>
            @*<div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>*@
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
