@model SAROM.Models.Operation
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
  ViewData["Title"] = "Edit";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Localizer["Einsatz"] @Html.DisplayFor(model => model.Name)</h3>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Edit">
      <input type="hidden" asp-for="Id" />
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Number" class="control-label"></label>
        <input asp-for="Number" class="form-control" />
        <span asp-validation-for="Number" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Headquarter" class="control-label"></label>
        <input asp-for="Headquarter" class="form-control" />
        <span asp-validation-for="Headquarter" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="AlertDate" class="control-label"></label>
        <input asp-for="AlertDate" class="form-control" />
        <span asp-validation-for="AlertDate" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="AlertTime" class="control-label"></label>
        <input asp-for="AlertTime" class="form-control" />
        <span asp-validation-for="AlertTime" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="State3" class="control-label"></label>
        <input asp-for="State3" class="form-control" />
        <span asp-validation-for="State3" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="State4" class="control-label"></label>
        <input asp-for="State4" class="form-control" />
        <span asp-validation-for="State4" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="@Localizer["Speichern"]" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Details" asp-route-id="@Model.Id">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
