@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<ul class="navbar-nav">
  @if (SignInManager.IsSignedIn(User))
  {
    <li class="nav-item">
      <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@Localizer["Meine Daten"]</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" asp-action="Logout" asp-controller="Account">@Localizer["Abmelden"]</a>
    </li>
  }
  else
  {
    <li class="nav-item">
      <a class="nav-link text-dark" asp-action="Login" asp-controller="Account">@Localizer["Anmelden"]</a>
    </li>
  }
</ul>