/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/*header {
  background-color: red;
}*/

.navbar-light .navbar-nav .nav-link {
  color: cornflowerblue;
}

.navbar-light .navbar-nav .nav-link.nav-link:hover {
  color: royalblue;
  text-decoration: underline;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  /*background-color: yellow;*/
}

.footer .container {
  /*color: red;*/
  font-size: small;
}

/* Dashed border */
hr.dashed {
  border-top: 2px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 2px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 2px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 5px solid #bbb;
  border-radius: 2px;
}

/* Card spacing */
.card .card-header-sm {
  padding: 0.25rem 1.25rem !important;
}
.card .card-header-link, .card .card-header-link :hover{
  color: #212529;
  font-weight: bold;
  text-decoration: none;
}